# use glob syntax.
syntax: glob

*.class
*~
*.bak
*.off
*.old
.DS_Store

# building
/target
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings

# IDEA
.idea
*.iml
*.ipr
*.iws
/target

# Other/local
/gh-workflows
