language: java

git:
  quiet: true
  submodules: false

# 30-Nov-2020, tatu: [databind#2832]: add support for ppc64le architecture
arch:
  - ppc64le
  - amd64

# Since Jackson 2.10 build requires JDK 8 even if only JDK 7 runtime
# But we also want to test against newer LTS versions
# 08-Jul-2020, tatu: can not yet enable JDK14 due to new Record tests failing
jdk:
  - openjdk8
  - openjdk11

# 2019-11-26, tatu: Let's try caching Maven dependencies
cache:
  directories:
    - $HOME/.m2

# Below this line is configuration for deploying to the Sonatype OSS repo
# https://knowm.org/configure-travis-ci-to-deploy-snapshots/
before_install:
  - "git clone -b travis `git config --get remote.origin.url` target/travis"

script: "[ ${TRAVIS_PULL_REQUEST} = 'false' ] && mvn -B source:jar deploy --settings target/travis/settings.xml || mvn clean verify --settings target/travis/settings.xml"

# whitelist
branches:
  only:
    - master
    - "2.13"

env:
  global:
    - secure: "ZIFMeNzZCvLYWICiUyHFSm8Ypz6lYFbF/+LGz6a+Sh8B9tSnvYvlrE4gSFJj3NzRWY0RG/vizoyFEpVgxOnzXDMLuuy/dreupnHR1FfVmiaiceK4JHRwAzl0lQzr2hdVwJbqpX0GfrxKmbg8Jvv9WPKtfM6X4167ElVj4O/8IRc="
    - secure: "VOC/J8eFbM2OeysBp0Gx0G73MySRATCoN7hc9Ok0kJXE/dbE/2KOoFlTwwxUgErwJXkjJKKXafYcbq/22S7wkaoDW5XAvplSu3skxdE0NRGVzozcDMXO5UoGlt9Ti4XIBMCvy7bB/NO+J5IgNedCtcNnBsrGZCdodW3DTYtqQLs="
