language: java

git:
  quiet: true
  submodules: false

# 08-Jul-2020, tatu: can not yet enable JDK14 due to new Record tests failing
jdk:
  - openjdk8
  - openjdk11

branches:
  only:
    - master
    - "2.13"

script: mvn -B clean verify
